<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Surpresa!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- Corações flutuando -->
  <div class="heart" style="left:15%;">❤️</div>
  <div class="heart" style="left:35%; animation-delay:3s;">💖</div>
  <div class="heart" style="left:55%; animation-delay:5s;">💕</div>
  <div class="heart" style="left:75%; animation-delay:7s;">💓</div>
  <div class="heart" style="left:95%; animation-delay:9s;">💘</div>

  <h1>🎉 Surpresa Especial 🎉</h1>
  <p>Você achou o segredo! 💖</p>
  <p>Acho que voce tem um potencial grande para ser o amor da minha vida em 😂😂</p>
</body>
</html>